<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layuiAdmin 主页示例模板二</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">

        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">
                    所在科录入病人数
                    <span class="layui-badge layui-bg-blue layuiadmin-badge">周</span>
                </div>
                <div class="layui-card-body layuiadmin-card-list">
                    <p id="numberThisweek" class="layuiadmin-big-font"></p>
                    <p>
                        所在科总录入病人数
                        <span id="numberAll" class="layuiadmin-span-color"></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">
                    已分配病床的病人数
                    <span class="layui-badge layui-bg-blue layuiadmin-badge">周</span>
                </div>
                <div class="layui-card-body layuiadmin-card-list">
                    <p id="haveBed" class="layuiadmin-big-font"></p>
                    <p>
                        比率
                        <span id="haveBedRate" class="layuiadmin-span-color"></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">
                    所在科病房总数
                </div>
                <div class="layui-card-body layuiadmin-card-list">

                    <p id='allWards' class="layuiadmin-big-font"></p>
                    <p>
                        病房空闲占比
                        <span id='relRate' class="layuiadmin-span-color"></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">
                    所在科病床总数
                </div>
                <div class="layui-card-body layuiadmin-card-list">
                    <p id='allBeds' class="layuiadmin-big-font"></p>
                    <p>
                        病床占用比
                        <span id='bedRate' class="layuiadmin-span-color"><i
                                class="layui-inline layui-icon layui-icon-user"></i></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="layui-col-sm12">
            <div class="layui-card">
                <div class="layui-card-header">
                    周数据统计
                </div>
                <div class="layui-card-body">
                    <div class="layui-row">
                        <div class="layui-col-sm8">
                            <div id="chart2" style="height:400px;"></div>
                        </div>
                        <div class="layui-col-sm4">
                            <div class="layuiadmin-card-list">
                                <p class="layuiadmin-normal-font">周录入病人</p>
                                <span>同上周增长</span>
                                <div class="layui-progress layui-progress-big" lay-showPercent="yes">
                                    <div id='weekRate' class="layui-progress-bar"></div>
                                </div>
                            </div>
                            <div class="layuiadmin-card-list">
                                <p class="layuiadmin-normal-font">周住院病人</p>
                                <span>同上周增长</span>
                                <div class="layui-progress layui-progress-big" lay-showPercent="yes">
                                    <div id='thisweekpatient' class="layui-progress-bar"></div>
                                </div>
                            </div>
                            <div class="layuiadmin-card-list">
                                <p class="layuiadmin-normal-font">周病床占用</p>
                                <span>同上周增长</span>
                                <div class="layui-progress layui-progress-big" lay-showPercent="yes">
                                    <div id='thisweekbed' class="layui-progress-bar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script src="/layuiadmin/layui/layui.js"></script>
<script type="text/javascript" src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
<script>
    layui.config({
        base: '/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'sample'], function() {
        let $ = layui.$,
            element = layui.element;
        let myChart2 = echarts.init(document.getElementById('chart2'));
        let statistical;

        $.ajax({
            url: '/getPatientsByInp',
            method: 'GET',
            async: false,
            success: function(res) {
                statistical = res;
            }
        });

        $('#numberAll').text(statistical.man + statistical.woman);
        $('#numberThisweek').text(statistical.thisweek);
        $('#haveBed').text(statistical.haveBed);
        $('#haveBedRate').text(Math.floor(statistical.haveBed * 1.0 / (statistical.man + statistical.woman) * 1000) * 1.0 / 10 + "%(" + statistical.haveBed + "/" + (statistical.man + statistical.woman) + ")")
        $('#allWards').text(statistical.allWards);
        $('#relRate').text(Math.floor(statistical.rel * 1.0 / statistical.allWards * 1000) * 1.0 / 10 + '%')
        $('#allBeds').text(statistical.allBeds);
        $('#bedRate').text(Math.floor(statistical.haveBed * 1.0 / statistical.allBeds * 1000) * 1.0 / 10 + '%')

        $('#weekRate').attr('lay-percent', Math.floor((statistical.thisweek - statistical.lastweek) * 1.0 / statistical.lastweek * 1000) * 1.0 / 10 + '%')
        $('#thisweekpatient').attr('lay-percent', (Math.floor((statistical.thisweekbed - statistical.lastweekbed) * 1.0 / statistical.lastweekbed * 1000) * 1.0 / 10) + '%')
        $('#thisweekbed').attr('lay-percent', (Math.floor((statistical.thisweekbed - statistical.lastweekbed) * 1.0 / statistical.lastweekbed * 1000) * 1.0 / 10) + '%')

        let all = (statistical.man + statistical.woman === 0 ? 1 : statistical.man + statistical.woman);

        let option2 = {
            grid: {
                left: '15%',
                right: '15%'
            },
            title: {
                text: '七日内每天录入病人数和和病人比例',
                subtext: '数据仅供参考',
                left: 'center'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                    type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            xAxis: [
                {
                    type: 'category',
                    data: ['星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期天'],
                    axisTick: {
                        alignWithLabel: true
                    }
                }
            ],
            yAxis: [
                {
                    name: '病人数量(周)',
                    type: 'value',
                    splitLine:{show: false}
                },
                {
                    name: '病人比例(%)',
                    type: 'value',
                    max: 100,
                    axisLabel: {
                        show: true,
                        interval: 'auto',//居中显示
                        formatter: '{value} %'//以百分比显示
                    },
                    // splitLine:{show: false}
                }

            ],
            series: [
                {
                    name: '当天人数',
                    type: 'bar',
                    itemStyle: {
                        color: new echarts.graphic.LinearGradient(
                            0, 0, 0, 1,
                            [
                                {offset: 0, color: '#83bff6'},
                                {offset: 0.5, color: '#188df0'},
                                {offset: 1, color: '#188df0'}
                            ]
                        ),
                        barBorderRadius: [30, 30, 0, 0],
                    },
                    barWidth: '50%',
                    // barWidth: '50px',
                    data: [statistical.one, statistical.two, statistical.three, statistical.four, statistical.five, statistical.six, statistical.seven]
                },
                {
                    name: '病人比例',
                    type: 'line',
                    yAxisIndex: 1,
                    tooltip: {
                        trigger: 'axis',
                        formatter: '{c}%'
                    },
                    lineStyle: {
                        color: '#fb6b1c',
                        width: 4,
                        shadowColor: 'rgba(0, 0, 0, 0.3)',//设置折线阴影
                        shadowBlur: 15,
                        shadowOffsetY: 20,
                    },
                    smooth: true,
                    data: [Math.floor(statistical.one * 1.0 / all * 100),
                        Math.floor(statistical.two * 1.0 / all * 100),
                        Math.floor(statistical.three * 1.0 / all * 100),
                        Math.floor(statistical.four * 1.0 / all * 100),
                        Math.floor(statistical.five * 1.0 / all * 100),
                        Math.floor(statistical.six * 1.0 / all * 100),
                        Math.floor(statistical.seven * 1.0 / all * 100)]
                }
            ]
        };

        myChart2.setOption(option2);
    });
</script>
</body>
</html>

