<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="top.lsyweb.hosadm.mapper.PatientMapper">
	<select id="findPatientById" resultType="Patient">
		select *
		from patient
		where patient_id = #{patientId}
	</select>

	<insert id="addPatient">
		insert into patient (patient_name, patient_belong, patient_phone, patient_sex, patient_create_time,
							 patient_last_edit_time,
							 patient_describe, patient_src)
		values (#{patientName}, #{patientBelong}, #{patientPhone}, #{patientSex}, #{patientCreateTime},
				#{patientLastEditTime},
				#{patientDescribe}, #{patientSrc})
	</insert>

	<select id="queryPatientByInp" resultType="Patient">
		select *
		from patient
		where patient_belong = #{departmentId}
		  and (patient_id = #{queryString}
			or patient_name like '%${queryString}%'
			or patient_phone = #{queryString})
		order by patient_create_time desc
		limit #{rowIndex}, #{pageSize}
	</select>

	<select id="queryPatientCountByInp" resultType="int">
		select count(*)
		from patient
		where patient_belong = #{departmentId}
		  and (patient_id = #{queryString}
			or patient_name like '%${queryString}%'
			or patient_phone = #{queryString})
	</select>

	<update id="changeBed" parameterType="Patient">
		update patient
		set patient_bed            = #{patientBed},
			patient_last_edit_time = #{patientLastEditTime}
		where patient_id = #{patientId}
	</update>

	<select id="queryManToday_2" resultType="int">
		select count(*) from patient where patient_sex = '男' and to_days(now()) = to_days(patient_create_time)
	</select>

	<select id="queryWomanToday_2" resultType="int">
		select count(*) from patient where patient_sex = '女' and to_days(now()) = to_days(patient_create_time)
	</select>
	
	<select id="queryPatientEachHour_2" resultType="int">
		select count(*) from patient where hour(timediff(time(patient_create_time), '00:00:00')) = #{hour} + 0 and to_days(now()) = to_days(patient_create_time)
	</select>
	
	<select id="queryPatientInHospitalEachHour_2" resultType="int">
		select count(*) from patient where patient_bed is not null and hour(timediff(time(patient_create_time), '00:00:00')) = #{hour} + 0 and to_days(now()) = to_days(patient_create_time)
	</select>

	<select id="queryManByInp_2" resultType="int">
		select count(*) from patient where patient_belong = #{departmentId} and to_days(now()) - to_days(patient_create_time) &lt; 1 and patient_sex = '男'
	</select>

	<select id="queryWomanByInp_2" resultType="int">
		select count(*) from patient where patient_belong = #{departmentId} and to_days(now()) - to_days(patient_create_time) &lt; 1 and patient_sex = '女'
	</select>

	<select id="queryPatientEachHourByInp_2" resultType="int">
		select count(*) from patient where patient_belong = #{departmentId} and hour(timediff(time(patient_create_time), '00:00:00')) = #{hour} + 0 and to_days(now()) = to_days(patient_create_time)
	</select>

	<select id="queryPatientInHospitalEachHourByInp_2" resultType="int">
		select count(*) from patient where patient_belong = #{departmentId} and patient_bed is not null and hour(timediff(time(patient_create_time), '00:00:00')) = #{hour} + 0 and to_days(now()) = to_days(patient_create_time)
	</select>

	<select id="queryPatientTodayInHospital_2" resultType="int">
		select count(*) from patient where patient_belong = #{departmentId} and patient_bed is not null and to_days(now()) = to_days(patient_create_time)
	</select>
</mapper>